.questionDisplay {
  background-color: #814987;
  width: 70vw;
  margin: 25px auto;
  padding: 20px;
  border-radius: 20px;
  border: #81ffef 4px solid;
  text-align: center;
}

.questionText {
  color: whitesmoke;
}

.answerChoiceList {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 530px) {
  .questionText {
    font-size: 100%;
  }
  .questionDisplay {
    margin: 15px auto;
    width: 80vw;
  }
}
