#matchList {
  text-align: center;
}

#resetLink {
  text-decoration: underline;
  font-weight: bold;
}

.resetP {
  /* background-color: var(--palette2); */
  background-color: rgba(0, 139, 139, 0.2);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 80vw;
}
