#matchList {
  text-align: center;
  margin: 5vh auto;
}

#matchListHeader {
  width: 80vw;
  font-weight: bold;
  padding-bottom: 15px;
  margin: 0 auto;
  padding-top: 20px;
}

#matchListIntro {
  margin: 0 auto;
  width: 60vw;
  padding-bottom: 20px;
}

#resetLink {
  /* text-decoration: underline; */
  font-weight: bold;
  color: black;
}

.resetP {
  background-color: rgba(0, 139, 139, 0.2);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  width: 60vw;
  margin: 0 auto;
}

@media only screen and (max-width: 530px) {
  .resetP {
    font-size: 12.8px;
    width: 80vw;
  }
  #matchListIntro {
    width: 80vw;
  }
}
