.logoutButton {
  border-radius: 32px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #81ffef;
  margin: 0 auto;
  padding: 10px 20px;
  color: black;
  width: 150px;
}
.logoutButton:hover {
  background-color: #9f5aa7;
}
