#InputComponent {
  text-align: left;
  width: 80vw;
  margin: 50px auto;
  overflow: auto;
  padding: 6px;
}

.form {
  padding: 20px;
  color: whitesmoke;
}

.section {
  background-color: #814987;
  border-radius: 20px;
  width: 70vh;
  padding: 20px;
  margin: 40px;
}

.input {
  width: 500px;
  height: 2vw;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 20px;
}

.label {
  padding-top: 60px;
}

.button {
  width: 160px;
  height: 4em;
  border-radius: 32px;
  background-color: #814987;
  color: white;
  font-weight: bold;
  text-align: center;
}

.submitBtnSection {
  padding-top: 40px;
}
