.sectionHeader {
  margin-top: 20px;
  margin-bottom: 30px;
}

.form {
  padding: 20px;
  color: whitesmoke;
}

.section {
  background-color: #814987;
  border-radius: 20px;
  width: 70vw;
  padding: 5px 20px;
  margin: 5vh auto;
  border: #81ffef 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.dropdown {
  width: 50%;
  height: 2vw;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  height: 2vw;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.button {
  width: 160px;
  height: 4em;
  border-radius: 32px;
  background-color: #814987;
  color: white;
  font-weight: bold;
  text-align: center;
  border: #f067b4 2px solid;
  position: absolute;
  left: 62vh;
}

.submitBtnSection {
  padding-top: 10px;
}
