.sectionHeader {
  margin: 15px 0;
  color: white;
  padding-bottom: 10px;
}

.formSection {
  margin: 20px auto;
  width: 80%;
  padding-bottom: 15px;
}

.header {
  color: black;
  margin: 0 auto;
  width: 60%;
  padding-top: 5vh;
  text-align: center;
}

.formDescrip {
  color: black;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding-top: 20px;
}

.form {
  padding: 20px;
  color: whitesmoke;
}

.section {
  background-color: #814987;
  border-radius: 20px;
  width: 70vw;
  padding: 5px 20px;
  margin: 5vh auto;
  border: #81ffef 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.dropdown {
  width: 50%;
  border-radius: 10px;
  padding: 6px;
  margin: 10px auto;
  color: black;
}

.input {
  width: 100%;
  border-radius: 10px;
  padding: 6px;
  margin: 10px auto;
  color: black;
}

.button {
  border-radius: 32px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #81ffef;
  margin: 0 auto;
  padding: 10px 20px;
  color: black;
  width: 150px;
}

.button:hover {
  background-color: #9f5aa7;
}

#submitButton {
  margin: 0 auto;
}

.submitBtnSection {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
