.contactCard {
  /* background-color: var(--palette2); */
  background-color: rgba(240, 75, 75, 0.2);
  border: coral 2px solid;
  border-radius: 20px;
  width: 500px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
}

.orgImg {
  height: 150px;
  width: auto;
}
