.contactCard {
  color: white;
  background-color: #814987;
  border: #81ffef 2px solid;
  border-radius: 20px;
  width: 60vw;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.contactHeader {
  color: white;
  font-weight: bold;
}

.contactInfo {
  margin: auto;
  padding-bottom: 10px;
  width: 80%;
}

.orgImg {
  height: 150px;
  width: auto;
  border-radius: 10px;
  margin: 10px auto;
  padding-bottom: 15px;
}

.contactLink {
  color: whitesmoke;
  padding-bottom: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 530px) {
  .contactCard {
    margin: 20px auto;
    padding: 10px 20px;
    width: 70vw;
  }

  .contactHeader {
    font-size: 20px;
  }

  .contactInfo,
  .contactLink {
    font-size: 12.8px;
  }
}
